h1 {
    text-align: center;
    color: white;

}

nav {
    background-color: rgb(75, 75, 75);
    padding: 30px;
    box-shadow: 0px 3px 7px 5px #5d5d5d;
}

body ul {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;


}

li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

li a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(130, 130, 130);
    border-radius: 5px;
    color: white;
}

li a:hover {
    background-color: black;
    transition: 0.6s;
}

nav ul {
    width: 450px;
    margin: 0px auto;

}

.home {
    background-color: black;
}

body {
    background-image: url(/Projects/images/aaaaaaaaa.jpg);
    background-repeat: no-repeat;
    background-size:1920px 1080px;
}

section{
    color: white;
    text-align: center;
    float: left;
}

footer{
    color: white;
    text-align: center;
}

.aqua{
    color:aqua;
}

.yellow{
    color: yellow;
}

p{
   font: italic; 
}