/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
}

body {
    -ms-grid-columns: 250px 1fr;
    grid-template-columns: 250px 1fr;
    height: 100vh;
    width: 100vw;
}

.cursor {
    cursor: pointer;
}

aside {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(/Projects/images-20240406T122743Z-001/images/sidebar-1.jpg);
    background-color: rgba(0, 0, 0, 0.845);
    background-blend-mode: color;
    background-position: -10px -160px;
}

body::-webkit-scrollbar {
    display: none;
}

.div-header {
    padding: 15px 0 0 15px;
    font-weight: 100;
    font-size: 22px;
}

hr {
    width: 90%;
    margin: 0 0 0 10px;
    border-color: grey;
}

/* aside hover */

.nonactive:hover {
    background-color: rgba(128, 128, 128, 0.315);
}

/*aside globals */

.displayf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.spaceb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.displayg {
    display: -ms-grid;
    display: grid;
}

.avatar {
    width: 35px;
    border-radius: 50%;
}

.asc {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.aic {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.cw {
    color: #ffffff;
}

.mlr18 {
    margin: 0 13px;
}

.p15 {
    padding: 10px;
}

.mt10 {
    margin-top: 15px;
}

.mt90 {
    margin-top: 90px;
}

.mb45 {
    margin-bottom: 45px;
}

.active {
    background-color: orangered;
    width: 81%;
}


/* main header */

.main-div {
    background-color: rgb(247, 214, 214);
    padding: 20px 15px 20px 15px;
}

.more-icon {
    margin: 12px 0 0 20px;
}

.circle:hover {
    -webkit-box-shadow: 0px 5px 35px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 5px 35px -3px rgba(0, 0, 0, 1);
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

#search {
    background-color: rgb(247, 214, 214);
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    padding: 5px;
    width: 200px;
    -webkit-transition: border-color 0.7s ease-in-out;
    -o-transition: border-color 0.7s ease-in-out;
    transition: border-color 0.7s ease-in-out;
}

#search:focus {
    border-bottom: 2px solid rgb(101, 3, 101);
}

.notifications-div {
    position: relative;
}

#notification {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.notifications-number {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 1.6px;
    border: 1.5px solid #ffffff;
    position: absolute;
    top: 0;
    left: 9px;
    color: #ffffff;
}

.notifications {
    display: none;
    background-color: #ffffff;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 18px;
    width: 250px;
}

.notifications .message:hover {
    background-color: red;
    color: #ffffff;
    cursor: pointer;
}

.notifications-number:hover+.notifications,
.notifications:hover {
    display: block;
}

/* main globals */

.gap2rem {
    gap: 2rem;
}

.gap1rem {
    gap: 1rem;
}

.circle {
    width: 20px;
    height: 20px;
    padding: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.p10 {
    padding: 10px;
}

.pl8 {
    padding-left: 8px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pt10 {
    padding-top: 10px;
}

.size15 {
    width: 15px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    margin-top: 40px;
}

.card-icon {
    padding: 20px;
    border-radius: 3px;
    position: relative;
    top: -30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bcg {
    background-color: rgb(57, 148, 57);
}

.bco {
    background-color: rgb(255, 149, 0);
}

.bcp {
    background-color: rgb(184, 5, 184);
}

.bcb {
    background-color: dodgerblue;
}

.cg {
    color: rgb(91, 87, 87);
}

.fs18 {
    font-size: 18px;
    padding-right: 15px;
}

.fs28 {
    font-size: 28px;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw100 {
    font-weight: 100;
}

.fs22 {
    font-size: 22px;
}

.txt-center {
    text-align: center;
}

.width90 {
    width: 95%;
}

.pt20 {
    padding-top: 20px;
}

.position-rrr {
    position: relative;
    top: -35px;
    left: 0px;
}

.mt-20 {
    -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
            transform: translateY(-25px);
}

.position-r {
    position: relative;
}

.mb65 {
    margin-bottom: 65px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt40 {
    margin-top: 40px;
}

.mr20 {
    margin-right: 20px;
}

/* main */

main {
    padding: 10px;
}

header {
    padding: 0 10px 0 10px;
}

.card h2 {
    padding-left: 20px;
}

.container {
    -ms-grid-columns: 300px 1fr;
    grid-template-columns: 300px 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container-child1>hr {
    width: 100%;
    border-color: rgb(246, 223, 223);
}

.container-child1 p {
    padding-left: 20px;
}

iframe {
    width: 95%;
    height: 200px;
    margin-left: 40px;
}

.fill-gray {
    fill: #808080;
}

.four-cards-section hr,
footer hr {
    width: 98%;
    text-align: center;
    border-color: rgb(246, 223, 223);
}

.manage-listings hr {
    border-color: rgb(246, 223, 223);
}

.four-cards-section {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.four-cards-section > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.four-cards-section > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.four-cards-section > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.four-cards-section > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.manage-listings {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.cardListing-icon {
    position: absolute;
    bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    pointer-events: auto;
}

.cardListing {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.card-img {
    width: 100%;
    border-radius: 5px;
    z-index: 9;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.cardListing:hover .card-img {
    -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
            transform: translateY(-30px);
    width: 100%;
}

.left-div-of-left{
    gap: 16px;
}

.rigth-div-footer{
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* shows when page is at 1000px */

.menu {
    display: none;
}



/* Making the Page Responsive  at 1000px */

@media (max-width:1024px) {

    body {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    aside {
        display: none;
    }

    .first-part-nav {
        display: none;
    }

    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .container{
        display: block;
    }

    iframe{
        width: 100%;
        margin: 20px 0 0 0;
    }

    .manage-listings{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
    }

    .manage-listings > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1; 
    }

    .manage-listings > *:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1; 
    }

    .manage-listings > *:nth-child(3){
        -ms-grid-row: 3;
        -ms-grid-column: 1; 
    }

    .container-child1>hr {
        width: 98.5%;
    }
}

/* Making the Page Responsive  at 500px */

@media (max-width:500px) {

    .main-div{
        padding: 10px 5px 5px 5px;
    }

    .seemore{
        display: none;
    }

    .four-cards-section{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .four-cards-section > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .four-cards-section > *:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .four-cards-section > *:nth-child(3){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .four-cards-section > *:nth-child(4){
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    .left-div-footer{
        display: block;
    }

    .left-div-of-left{
        gap: 8px;
    }

    .BLOG{
        padding-left: 10px;
    }

    .right-div-footer{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .right-div-footer > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .right-div-footer > *:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
}